<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-grid-list  cols=18 rowHeight="70px" role="list"> 
    <div>
    <mat-grid-tile  role="listitem" class="slidebar"
    colspan=2
    rowspan=1>
    </mat-grid-tile>
    </div>
    <div  class="header" >
      <div>
        <mat-grid-tile role="listitem"  
        colspan=1
        rowspan=1 >
          <div  class="home" >
              <div class="icon-home">
                  <div class="icon-bar">
                    <a class="active" href=""><i class="fa fa-home"></i></a>
                  </div>
                </div> 
          </div>
        </mat-grid-tile>
      </div>
      <div class="logo" >
         <mat-grid-tile role="listitem"  
        colspan=3
        rowspan=1 >
        <img id="logo" src="../assets/images/logo.png" width="70%" />
        </mat-grid-tile>
      </div>
      <div class="menu">
        <mat-grid-tile  
        role="listitem"
         colspan=8
         rowspan=1
         >
         <div >
           <ul>
             <li><a routerLink="hotdeal">HOT DEAL </a></li>
             <li><a href="#">TIN TỨC</a></li>
             <li><a href="#">DEAL MỚI</a></li>
             <li><a href="#">HỎI ĐÁP</a></li>
             <li><a href="#">LIÊN HỆ</a></li>
           </ul>
         </div>
       </mat-grid-tile>
      </div>
      <div class="contact"> 
        <mat-grid-tile  
        role="listitem"        
        colspan=2
        rowspan=1
        >
        <div class="icon-contact">   
          <a target="_blank" title="Truy cập Fanpage và phản hồi" href="https://www.facebook.com/DeepSellFast/" class="fa fa-facebook"></a>
          <a target="_blank" title="Truy cập Google+ và phản hồi" href="https://plus.google.com/?hl=vi" class="fa fa-google"></a>
          <a target="_blank" title="Truy cập Twitter và phản hồi" href="https://twitter.com/?lang=vi" class="fa fa-twitter"></a>
        </div>
        </mat-grid-tile>
      </div>
    </div>
     
    
    <div>
    <mat-grid-tile  role="listitem" class="slidebar"
    colspan=2
    rowspan=1 >
    </mat-grid-tile>
    </div>
  </mat-grid-list>