<div class="Footer">
    <mat-grid-list cols=36 rowHeight="50px" role="list">
        <mat-grid-tile   role="listitem" class="slidebar-footer"
        colspan=4
        rowspan=4>
        </mat-grid-tile>
        <mat-grid-tile role="listitem" class="footer" 
        colspan=28
        rowspan=5 >
        <div class="row" >
          <div class="col-md-2" >
              <h4><p style="color: #212121">VỀ SELL FAST</p></h4><br>
              <a href="#" >Giới thiệu</a> <br>
              <a href="#" >Hỗ trợ - Tư vấn</a> <br>
              <a href="#" >Chính sách</a> <br>
              <a href="#" >Các câu hỏi thường gặp</a> <br>
              <a href="#" >Cơ chế kiểm soát nhà cung cấp</a> <br>
              <a href="#" >Điều khoản sử dụng</a> <br>
              <h2><p style="color: #212121">Hotline:</p></h2>
             <span><h3 style="color: orangered ; font-size: 17px"> +84 8040408</h3></span> 
          </div>
          <div class="col-md-2" style="padding-left: 10px">
              <h2><p style="color: #212121">ĐỐI TÁC</p></h2><br>
              <a href="#">Lazada</a> <br>
              <a href="#">Shopee</a> <br>
              <a href="#">Accesstrace</a><br>
              <a href="#">Amazon</a>  <br>
              <a href="#">Tiki</a> <br>
              <a href="#">CGV</a> <br>
              <a href="#">Hotdeal</a><br>
              <a href="#">Muachung</a><br>
              <a href="#">Magiamgia</a><br>
          </div>
          <div class="col-md-4" >
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdeepsellfast&tabs=timeline&width=340&height=200&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="210" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          </div>
          <div class="col-md-4" >
            <div>
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1" style="color: #212121">Đăng ký nhận tin từ SELL FAST</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Địa chỉ email của bạn">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <button type="submit" class="btn btn-primary" style="width: 40% ;">Đăng ký</button>
                </form>
            </div>    
            <div>
                <h2><p style="margin-top:2rem ;color:#212121">FOLLOW US</p></h2>  
            </div>
            <div class="icon-contact">   
                <a target="_blank" title="Truy cập Fanpage và phản hồi" href="https://www.facebook.com/DeepSellFast/" class="fa fa-facebook"></a>
                <a target="_blank" title="Truy cập Google+ và phản hồi" href="https://plus.google.com/?hl=vi" class="fa fa-google"></a>
                <a target="_blank" title="Truy cập Twitter và phản hồi" href="https://twitter.com/?lang=vi" class="fa fa-twitter"></a>
                <a target="_blank" href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
              </div>

          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile role="listitem"  class="slidebar-footer"
      colspan=4
      rowspan=4>
      </mat-grid-tile>
      <mat-grid-tile role="listitem"  class="copyright" style="background-color: #003d33"
      colspan=36
      rowspan=1>
      <span style= "color:black ; text-align: center; font-size: 120%">© 2018 Admin All Rights Reserved</span>
      </mat-grid-tile>
    </mat-grid-list>
</div>