<div class="Footer">
    <mat-grid-list cols=36 rowHeight="50px" role="list">
        <mat-grid-tile   role="listitem" class="slidebar-footer"
        colspan=4
        rowspan=6>
        </mat-grid-tile>
        <mat-grid-tile role="listitem" class="footer" 
        colspan=28
        rowspan=6 >
        <div class="row" >
          <div class="col-md-2" >
              <h4><p style="color: white">VỀ SELL FAST</p></h4><br>
              <a href="#" >Giới thiệu</a> <br>
              <a href="#" >Hỗ trợ - Tư vấn</a> <br>
              <a href="#" >Chính sách</a> <br>
              <a href="#" >Các câu hỏi thường gặp</a> <br>
              <a href="#" >Các câu hỏi thường gặp</a> <br>
              <a href="#" >Các câu hỏi thường gặp</a> <br>   <br>  
              <h2><p style="color:white">HOTLINE</p></h2>
             <span><h3 style="color: orangered ; font-size: 17px">19001003 - 08 040302</h3></span> 
          </div>
          <div class="col-md-2" style="padding-left: 10px">
              <h2><p style="color: white">ĐỐI TÁC</p></h2><br>
              <a href="#">Lazada</a> <br>
              <a href="#">Shopee</a> <br>
              <a href="#">Accesstrace</a><br>
              <a href="#">Amazon</a>  <br>
              <a href="#">Tiki</a> <br>
              <a href="#">Cgv</a> <br>
              <a href="#">hotdeal</a><br>
              <a href="#">muachung</a><br>
              <a href="#">magiamgia</a><br>
              <a href="#">fastdeal</a>
          </div>
          <div class="col-md-5" >
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdeepsellfast&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="210" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          </div>
          <div class="col-md-3" >
            <div>
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1" style="color: white">Đăng ký nhận tin từ SELL FAST</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Địa chỉ email của bạn">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <button type="submit" class="btn btn-primary" style="width: 40% ;">Đăng ký</button>
                </form>
            </div>    
            <div>
                <h2><p style="margin-top:2rem ;color:white">FOLLOW US</p></h2>  
            </div>
            <div class="icon-contact">   
                <a target="_blank" title="Truy cập Fanpage và phản hồi" href="https://www.facebook.com/DeepSellFast/" class="fa fa-facebook"></a>
                <a target="_blank" title="Truy cập Google+ và phản hồi" href="https://plus.google.com/?hl=vi" class="fa fa-google"></a>
                <a target="_blank" title="Truy cập Twitter và phản hồi" href="https://twitter.com/?lang=vi" class="fa fa-twitter"></a>
                <a target="_blank" href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
              </div>

          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile role="listitem"  class="slidebar-footer"
      colspan=4
      rowspan=6>
      </mat-grid-tile>
      <mat-grid-tile role="listitem"  class="copyright" style="background-color:black"
      colspan=36
      rowspan=1>
      <span style= "color:white ; text-align: center">© 2018 Admin All Rights Reserved</span>
      </mat-grid-tile>
    </mat-grid-list>
</div>






<!-- 
      <mat-grid-tile  
      colspan=3
      rowspan=1>
      <div id="footer-logo">
          <img src="../assets/images/logo.png" width="60%"/>
      </div>
      <div>
        <p>ABOUT US</p><br>
        <p style="color: #AAAAAA;">
            Affiliate marketing is a type of performance-based marketing in which a business rewards one or more affiliates for each visitor or customer brought by the affiliate's own marketing efforts</p>
      </div>
      </mat-grid-tile>
      <div >
        <mat-grid-tile
        colspan=1
        rowspan=1>
        <div class="Footer-lh">
            <p>ĐỐI TÁC</p><br>
             <a href="#">LAZADA</a> <br><br>
             <a href="#">SHOPEE</a> <br> <br>
             <a href="#">ACCESSTRACE</a><br> <br>
             <a href="#">AMAZON</a> <br>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
        colspan=1
        rowspan=1>
        <div class="Footer-lh">
            <p>LIÊN HỆ</p><br>
             <a href="#">Facebook</a> <br> <br> 
             <a href="#">Zalo</a> <br> <br>
             <a href="#">Google +</a><br> <br> 
             <a href="#">Twiter </a>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
        colspan=1
        rowspan=1>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdeepsellfast&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="210" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </mat-grid-tile>
      </div>
     
      </mat-grid-list>
</div>
<div>
    <mat-grid-list cols=1 rowHeight="50px">
        <mat-grid-tile   class="CopyRight"
          [colspan]=1
          [rowspan]=1>
          <p style="color:white">@Copyright</p>
        </mat-grid-tile>
      </mat-grid-list>
</div> -->