<div class="Footer">
    <mat-grid-list cols=6 rowHeight="300px">
      <mat-grid-tile  
      colspan=3
      rowspan=1>
      <div id="footer-logo">
          <img src="../assets/images/logo.png" width="60%"/>
      </div>
      <div>
        <p>ABOUT US</p><br>
        <p style="color: #AAAAAA;">
            Affiliate marketing is a type of performance-based marketing in which a business rewards one or more affiliates for each visitor or customer brought by the affiliate's own marketing efforts</p>
      </div>
      </mat-grid-tile>
      <div >
        <mat-grid-tile
        colspan=1
        rowspan=1>
        <div class="Footer-lh">
            <p>ĐỐI TÁC</p><br>
             <a href="#">LAZADA</a> <br><br>
             <a href="#">SHOPEE</a> <br> <br>
             <a href="#">ACCESSTRACE</a><br> <br>
             <a href="#">AMAZON</a> <br>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
        colspan=1
        rowspan=1>
        <div class="Footer-lh">
            <p>LIÊN HỆ</p><br>
             <a href="#">Facebook</a> <br> <br> 
             <a href="#">Zalo</a> <br> <br>
             <a href="#">Google +</a><br> <br> 
             <a href="#">Twiter </a>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
        colspan=1
        rowspan=1>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdeepsellfast&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="210" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </mat-grid-tile>
      </div>
     
      </mat-grid-list>
</div>
<div>
    <mat-grid-list cols=1 rowHeight="50px">
        <mat-grid-tile   class="CopyRight"
          [colspan]=1
          [rowspan]=1>
          <p style="color:white">@Copyright</p>
        </mat-grid-tile>
      </mat-grid-list>
</div>