<mat-grid-list  cols=36 rowHeight="50px" role="list" class="sanpham" > 
        <mat-grid-tile  role="listitem" class="slidebar"
        colspan=4
        rowspan=25>
        </mat-grid-tile>
       <mat-grid-tile role="listitem" 
        colspan=4
        rowspan=1    >
        <p style="color: black">KHUYẾN MÃI</p>
      </mat-grid-tile>
        <mat-grid-tile  role="listitem" class="slidebar"
        colspan=24
        rowspan=1>
        </mat-grid-tile>
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=4
      rowspan=25>
      </mat-grid-tile> 
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=28
      rowspan=25>
      <app-sanpham-lazada></app-sanpham-lazada>
      </mat-grid-tile> 
    </mat-grid-list>







    <!-- <div class="sanpham">
        <div class="sanpham-KM">
          <div>
              <a href="#">
                  <mat-grid-tile  role="listitem" class="grid-sanpham"
                  colspan=7
                  rowspan=7   >   
                  <mat-card >
                      <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                        <div class="tile-sanpham">
                            <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                            <span class="price"><u>đ</u>39,000</span>   
                        </div>
                    </mat-card>            
                  </mat-grid-tile>
              </a>
             </div>        
       <div>
          <a href="#">
            <mat-grid-tile  role="listitem" class="grid-sanpham"
            colspan=7
            rowspan=7   >   
            <mat-card >
                <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                  <div class="tile-sanpham">
                    <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                    <span class="price"><u>đ</u>39,000</span>
                    </div>
                </mat-card>            
              </mat-grid-tile>
            </a>
          </div>
          <div>
              <a href="#">
                <mat-grid-tile  role="listitem" class="grid-sanpham"
                colspan=7
                rowspan=7   >   
                <mat-card >
                    <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                      <div class="tile-sanpham">
                        <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                        <span class="price"><u>đ</u>39,000</span>
                        </div>
                    </mat-card>            
                  </mat-grid-tile>
                </a>
              </div>
              <div>
                  <a href="#">
                    <mat-grid-tile  role="listitem" class="grid-sanpham"
                    colspan=7
                    rowspan=7   >   
                    <mat-card >
                        <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                          <div class="tile-sanpham">
                            <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                            <span class="price"><u>đ</u>39,000</span>
                            </div>
                        </mat-card>            
                      </mat-grid-tile>
                    </a>
                  </div>
              <div>
                  <a href="#">
                    <mat-grid-tile  role="listitem" class="grid-sanpham"
                    colspan=7
                    rowspan=7   >   
                    <mat-card >
                        <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                          <div class="tile-sanpham">
                            <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                            <span class="price"><u>đ</u>39,000</span>
                            </div>
                        </mat-card>            
                      </mat-grid-tile>
                    </a>
                  </div>
              <div>
                <a href="#">
                  <mat-grid-tile  role="listitem" class="grid-sanpham"
                  colspan=7
                  rowspan=7   >   
                  <mat-card >
                      <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                        <div class="tile-sanpham">
                          <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                          <span class="price"><u>đ</u>39,000</span>
                          </div>
                      </mat-card>            
                    </mat-grid-tile>
                  </a>
                </div>    
              <div>
                <a href="#">
                  <mat-grid-tile  role="listitem" class="grid-sanpham"
                  colspan=7
                  rowspan=7   >   
                  <mat-card >
                      <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                        <div class="tile-sanpham">
                          <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                          <span class="price"><u>đ</u>39,000</span>
                          </div>
                      </mat-card>            
                    </mat-grid-tile>
                  </a>
                </div>     
              <div>
                <a href="#">
                  <mat-grid-tile  role="listitem" class="grid-sanpham"
                  colspan=7
                  rowspan=7   >   
                  <mat-card >
                      <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                        <div class="tile-sanpham">
                          <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                          <span class="price"><u>đ</u>39,000</span>
                          </div>
                      </mat-card>            
                    </mat-grid-tile>
                  </a>
                </div>       
             </div>  <!-sanphamKM-->
            <!-- <div >
              <mat-grid-tile  role="listitem" class="xem-them"
              colspan=28
              rowspan=1   >
                 <button mat-flat-button color="primary"  id="xem-them">Xem thêm</button>
              </mat-grid-tile>
               </div> -->
      <!--MA GIAM GIA-->
      <!-- <div class="ma-GG">
        <div>
          <mat-grid-tile role="listitem" 
          colspan=4
          rowspan=1    >
          <span style="color: black">MÃ GIẢM GIÁ</span>
          </mat-grid-tile>
          </div>
          <div>
            <mat-grid-tile  role="listitem" class="slidebar"
            colspan=24
            rowspan=1>
            </mat-grid-tile>   
          </div>
      <div>
        <a href="#">
          <mat-grid-tile  role="listitem" class="grid-sanpham"
          colspan=7
          rowspan=7   >   
          <mat-card >
              <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                <div class="tile-sanpham">
                  <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                  <span class="price"><u>đ</u>39,000</span>
                  </div>
              </mat-card>            
            </mat-grid-tile>
          </a>
        </div> 
      <div>
        <a href="#">
          <mat-grid-tile  role="listitem" class="grid-sanpham"
          colspan=7
          rowspan=7   >   
          <mat-card >
              <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                <div class="tile-sanpham">
                  <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                  <span class="price"><u>đ</u>39,000</span>
                  </div>
              </mat-card>            
            </mat-grid-tile>
          </a>
        </div>
      <div>
        <a href="#">
          <mat-grid-tile  role="listitem" class="grid-sanpham"
          colspan=7
          rowspan=7   >   
          <mat-card >
              <img  class="image-card" mat-card-image src="./assets/images/Shopee.jpg" >
                <div class="tile-sanpham">
                  <span>Khuyến mãi đặc biệt dành cho những người yêu thú cưng </span> <br>
                  <span class="price"><u>đ</u>39,000</span>
                  </div>
              </mat-card>            
            </mat-grid-tile>
          </a>
        </div> --> 
        

<!-- 
      </div> ma-GG -->
      <!-- <div >
        <mat-grid-tile  role="listitem" class="xem-them"
        colspan=28
        rowspan=1   >
           <button mat-flat-button color="primary"  id="xem-them">Xem thêm</button>
        </mat-grid-tile>
         </div> -->
      <!-- </div> sanpham -->
   
 


