*{
    margin: 0%;
    padding: 0%;
    width: 100%;
}
.slidebar{
   background-color:#F5F5F5
}

.sanpham {
    background-color:#F5F5F5
}
.block__more {
    padding: 6px 15px 6px 15px;
    border: 1px solid #dedede;
    background-color: #ffffff;
    color: #666;
    font-size: 14px;
    width: 20%;
}
.xem-them a:hover {
   border-color: black;
   color: black;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}