<mat-grid-list  cols=36 rowHeight="50px" role="list" class="sanpham" > 
        <mat-grid-tile  role="listitem" class="slidebar"
        colspan=4
        rowspan=39>
        </mat-grid-tile>
       <mat-grid-tile role="listitem" 
        colspan=4
        rowspan=1    >
        <p style="color: black">KHUYẾN MÃI</p>
      </mat-grid-tile>
        <mat-grid-tile  role="listitem" class="slidebar"
        colspan=24
        rowspan=1>
        </mat-grid-tile>
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=4
      rowspan=39>
      </mat-grid-tile> 
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=28
      rowspan=17>
      <app-sanpham></app-sanpham>
      </mat-grid-tile> 
      <mat-grid-tile  role="listitem"  class="xem-them"
          colspan=28
          rowspan=1   >
              <a  class="btn block__more" href="#">Xem thêm</a>
        </mat-grid-tile>
        <mat-grid-tile role="listitem" 
        colspan=4
        rowspan=1    >
        <p style="color: black">DEAL HOT</p>
      </mat-grid-tile>
      <mat-grid-tile  role="listitem" class="slidebar"
        colspan=28
        rowspan=17>
        <app-sanpham></app-sanpham>
        </mat-grid-tile> 
      <mat-grid-tile  role="listitem"  class="xem-them"
        colspan=28
        rowspan=1   >
          <a  class="btn block__more" href="#">Xem thêm </a>
       </mat-grid-tile>
    </mat-grid-list>

 


