
<div class="mat-app-background basic-container">
    <div>
        <div class="txtKM">
          <h2>TOP SẢN PHẨM KHUYẾN MÃI</h2>
          <p>Tổng hợp các sản phẩm khuyến mãi bán chạy </p>
        </div>
          
        <div class="btnKM">
          <button routerLink="lazada" >lazada.vn</button>
          <button routerLink="tiki">tiki.vn</button>
          <button>shopee.vn</button>
          <button>adayroi.com</button>
        </div>
    </div>
    <router-outlet></router-outlet>
  </div>

