
<html>
    <head>
        <title id="ten">Affiliate Website </title>
          <meta charset="utf-8" />
          <meta name="description" content="Affiliate Website" />
          <meta name="author" content="Nhom9">
          <link href="app.component.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
  <app-header></app-header>
  <app-danhmuc></app-danhmuc>
  <app-body></app-body> <br> <br>
  <app-footer></app-footer>
  
</body>
</html>






