

<ngb-carousel class="carousel">
  <ng-template ngbSlide>
    <img src="https://laz-img-cdn.alicdn.com/images/ims-web/TB1eXBwk8LoK1RjSZFuXXXn0XXa.jpg_1200x1200Q100.jpg_.webp" alt="Random first slide" layout-fill>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Random second slide" layout-fill>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://laz-img-cdn.alicdn.com/images/ims-web/TB1z.uYk4YaK1RjSZFnXXa80pXa.jpg_1200x1200.jpg" alt="Random third slide" layout-fill>
  </ng-template>
</ngb-carousel>
