<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-grid-list  cols=18 rowHeight="350px" role="list" > 
    <div>
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=2
      rowspan=1>
      </mat-grid-tile>
      </div>
    <div >
      <div>
        <mat-grid-tile  role="listitem" class="danhmuc"
        colspan=3
        rowspan=1>
        <div class="background-danhmuc">   
          <div class="text-danhmuc">
              <a href="#" >HOT GIẢM GIÁ TRONG NGÀY *</a><br><br>
              <a href="#">LAZADA THÁNG 10 </a><br><br>
              <a href="#">LAZADA THÁNG 11</a><br><br>
              <a href="#">TIKI THÁNG 11</a><br><br>
              <a href="#">SHOPEE THÁNG 11</a><br><br>
              <a href="#">TRÀ SỮA THÁNG 12</a><br><br>
              <a href="#">ADAYROI THÁNG 11</a><br><br>
              <a href="#">BOOKING THÁNG 11</a><br><br>        
          </div>
        </div>
        </mat-grid-tile>
        </div>
      <div>
        <mat-grid-tile  role="listitem" class="QC"
        colspan=11
        rowspan=1>
        <img src="../assets/images/QC.jpg" width="100%"/>
        </mat-grid-tile>
        </div>
      </div>
    <div>
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=2
      rowspan=1>
      </mat-grid-tile>
      </div>

    </mat-grid-list> 
    <div style="background-color: #F5F5F5">
      <br>
    </div>
