
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-grid-list  cols=18 rowHeight="350px" role="list" > 
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=2
      rowspan=1>
      </mat-grid-tile>
        <mat-grid-tile  role="listitem" class="danhmuc"
        colspan=14
        rowspan=1>
        <div id="mn-wrapper">
            <div class="mn-sidebar">
 
              <div class="mn-navblock">
                <ul class="mn-vnavigation">
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">LAZADA THÁNG 10</a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Deal thời trang nam</a></li>
                        <li><a href="#">Deal thời trang nữ</a></li>
                        <li><a href="#">Deal phụ kiện điện thoại</a></li>
                        <a href="#"><img src="../assets/images/lazada-danhmuc.png" width="10%"/>"</a>
                   </ul>
                 </li>
                 <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">TIKI THÁNG 10</a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Deal công nghệ</a></li>
                        <li><a href="#">Deal phụ kiện thời trang</a></li>
                        <li><a href="#">Deal thời trang nam</a></li>
                        <li><a href="#">Deal thời trang nữ</a></li>
                        <li><a href="#">Deal phụ kiện điện thoại</a></li>
                        <li>
                          <a href="#">Deal </a>
                     </li>
                   </ul>
                 </li>
                 
                 <li><a href="#">SHOPEE THÁNG 10</a></li>
                 <li><a href="#">ADAYROI THANG 10</a></li>
               </ul>
             </div>
          </div>     
          </div>
          <div class="QC">
             <app-slider></app-slider>     
          </div>

        </mat-grid-tile>
      <mat-grid-tile  role="listitem" class="slidebar"
      colspan=2
      rowspan=1>
      </mat-grid-tile>
    </mat-grid-list> 
    <div style="background-color: #F5F5F5">
      <br>
    </div>
